# Core Sphinx library
#sphinx>=9.0.0
sphinx==5.0.2



sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5 

sphinx-rtd-theme>=2.0.0

## NOPE sphinx>=7.0.0

# Popular themes (choose one)
# sphinx-rtd-theme
# sphinx-book-theme

# Common extensions
#myst-parser           # For Markdown support
#sphinx-autodoc-typehints
#sphinx-copybutton
