# Core Sphinx library
#sphinx>=9.0.0
sphinx==5.0.2
sphinx-rtd-theme>=2.0.0

## NOPE sphinx>=7.0.0

# Popular themes (choose one)
# sphinx-rtd-theme
# sphinx-book-theme

# Common extensions
#myst-parser           # For Markdown support
#sphinx-autodoc-typehints
#sphinx-copybutton
